
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* top */
.Top {
    background-color: #536668;
}
.Top p {
    margin: 0;
    color: #fff;
    font-size: 1.5vw;
}
/* navbar */
.nav-link{
    font-size: 1.2rem;
    border-bottom: 1px solid  transparent;
}
.nav-link:hover{
    color: #9AC556 !important;
    border-bottom: 1px solid  #9AC556;;
}
.active {
    color: #9AC556;
}
/*  Reseaux */
.Reseaux{
    width: 100%;
    height: 50px;
    background-color: #9AC556;
}
/* annonce */
.annonce{
    width: 100% ;
    height: auto;
    background-image: url('../image/Image1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.annonce .leftdiv {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 98%);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.annonce .leftdiv h3{
    font-size: 3vw;
}
.annonce .leftdiv h1{
    font-size: 4vw;
}
.annonce .leftdiv p {
    font-size: 1.5vw;
}
.divannonce{
    --bs-gutter-x: 0 !important;
}
.btnC {
    border-radius: 5px;
    background-color: #9AC556;
    border: 1px solid #9AC556;
    color: #fff;
    text-decoration: none;
    padding: 5px 3vw;
    width: 300px;
    font-size: 2vw;
    text-align: center;
}
 .btnC:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #9AC556;
    color: #9AC556;
}
.annonce .leftdiv span {
    font-size: 2vw;
    margin-left: 2vw;
}

.annonce .leftdiv .text {
    text-align: justify;
}
/* Service */
.service{
    width: 100% ;
    /* height: 80vh; */
    padding: 2vw;
}
.service .listeservice {
    /* padding: 50px;
    box-shadow: 0px 0px 20px -10px #000000;
    border-radius: 5px; */
}
.service ul li {
    list-style: none;
    font-size: 1.5vw;
}
.service ul .serv::before {
    content: "\2022";
    color: #9AC556;
    font-weight: bold;
    display: inline-block; 
    width: 1.5vw;
    font-size: 1.5vw;
    margin-left: -1em;
  }
.service ul li span div {
    background-color: #9AC556;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.service .grand-img{
    height: 500px;
    width: auto;
}
.service .mini-img {
    position: relative;
    top: -100px;
    left: 30px;
}
/* equipement */
.equipement{
    width: 100% ;
    /* height: 80vh; */
    padding: 2vw;
}
.equipement h4 {
    font-size: 3vw;
}
.equipement p {
    font-size: 2vw;
}
.equipement .swiper-pagination {
    bottom: -5px !important;
}
/* Rendez-vouz */
.rendez-vouz{
    margin: 50px 0px;
}
.rendez-vouz .img-rendez {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rendez-vouz .img-rendez img{
    height: 500px;
    width: auto;
}
.rightdiv{
    /* border: 1px solid #000; */
    padding: 30px;
    box-shadow: 0px 0px 20px -10px #000000;
    border-radius: 5px;
}
.rightdiv h3 {
    font-size: 2vw;
}
.rightdiv .row{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -10px #000000;
    margin-bottom: 10px ;
}
.rightdiv form h5 {
    font-size: 1.5vw;
}
.rightdiv .icone{
    width: 4vw;
    height: 4vw;
    background-color: #EFEFEF;
    border-radius: 50%;
    padding: 5px;
}
.rightdiv input[type='text']{
    width: 100%;
    height: 60px;
    border: none;
}
/* temoignage */
.temoignage {
    background-color: #536668;
    margin-top: 4rem;
}
.temoignage .swiper-button-next , .temoignage .swiper-button-prev{
    display: contents !important;
    color: #9AC556;
}

.temoignage .mySwiper{
    display: flex;
}

.temoignage .commantaire{
    
       margin: 10px;
       padding: 10px;
       box-shadow: 5px 5px 15px -10px #000000;
       border-radius: 5px;
}
.temoignage .commantaire .img-client {
    border-radius: 50%;
    width: 100%;
    height: 80%;
}
.temoignage .commantaire h5 ,.temoignage .commantaire h3 {
    font-size: 1.8vw;
    font-weight: bold;
}

.temoignage .commantaire p {
    font-size: 0.8vw;
    font-weight: normal;
}
.temoignage .commantaire span svg{
    color: #FFC207;
    font-size: 1.5vw;
}
.swiper-slide{
    min-width: 200px !important;
}
/* partenariat */
.partenariat{
    margin-top: 100px;
    padding: 5px;
}
.partenariat .row {
    display: flex;
    align-items: center;
}
.img-colab{
    filter: brightness(0%);
}
.img-colab:hover{
    filter: none;
}


/* footer */
footer .text {
    font-size: 1vw;
}
footer .list-unstyled{
    text-align: left;
}
footer .list-unstyled li a {
    color: #000;
    text-decoration: none;
    text-align: left;
}
/* Copyright */
.Copyright{
    background-color: #9AC556;
  
}
.Copyright p{
    margin: 0 !important;
    color: #fff;
}
.Copyright p a{
    color: #fff;
    text-decoration: none;
}
.Copyright p a:hover{
    color: #536668;
}
.title {
    margin-bottom: 50px;
}
.title::after{
    content: '';
    width: 100px;
    height: 50px;
    background-color: #9AC556;
}
.comming{
    height: 100%;
}
.comming .text-comming{
    color: #9ac556;
    font-size: 5vw;
}
.comming .img-404{
    max-width: 25rem;
    margin-bottom: 5vh;
}

/* version telephone */
@media screen and (max-width: 600px) {
    .annonce{
        height: 50vh;
    }
    .btnC {
        width: 200px;
        font-size: 2vw;
    }
    .service .grand-img{
        height: 200px;
        width: auto;
    }
    .rendez-vouz .img-rendez img{
        height: 200px;
        width: auto;
    }
    .rightdiv .icone{
        width: 6vw;
        height:6vw;
        background-color: #EFEFEF;
        border-radius: 50%;
        padding: 5px;
    }
    .service .mini-img {
        top: -40px;
        left: 60px;
        width: 80px;
        height: 80px;
    }
    .rightdiv input[type='text']{
        height: 30px;
    }
    footer .text {
        font-size: 2vw;
    }
  }

